docs/n8n_workflow_bnb_qr_simple_prueba.json
{
  "name": "Festival Danzarte - BNB QR Simple (prueba sandbox)",
  "nodes": [
    {
      "parameters": {},
      "id": "bnb-trigger-0001",
      "name": "Disparar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "v1",
              "name": "accountId",
              "value": "REEMPLAZAR_CON_TU_ACCOUNT_ID",
              "type": "string"
            },
            {
              "id": "v2",
              "name": "authorizationId",
              "value": "REEMPLAZAR_CON_TU_AUTHORIZATION_ID",
              "type": "string"
            },
            {
              "id": "v3",
              "name": "amount",
              "value": "100",
              "type": "string"
            },
            {
              "id": "v4",
              "name": "currency",
              "value": "BOB",
              "type": "string"
            },
            {
              "id": "v5",
              "name": "gloss",
              "value": "Festival Danzarte - prueba credenciales",
              "type": "string"
            },
            {
              "id": "v6",
              "name": "expirationDate",
              "value": "2026-06-29",
              "type": "string"
            },
            {
              "id": "v7",
              "name": "singleUse",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bnb-credentials-0002",
      "name": "Credenciales y parametros (EDITAR AQUI)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://test.bnb.com.bo/ClientAuthentication.API/api/v1/auth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"accountId\": \"{{ $json.accountId }}\",\n  \"authorizationId\": \"{{ $json.authorizationId }}\"\n}",
        "options": { "timeout": 30000 }
      },
      "id": "bnb-auth-0003",
      "name": "BNB - Auth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://test.bnb.com.bo/QRSimple.API/api/v1/main/getQRWithImageAsync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.message }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"currency\": \"{{ $('Credenciales y parametros (EDITAR AQUI)').item.json.currency }}\",\n  \"gloss\": \"{{ $('Credenciales y parametros (EDITAR AQUI)').item.json.gloss }}\",\n  \"amount\": \"{{ $('Credenciales y parametros (EDITAR AQUI)').item.json.amount }}\",\n  \"expirationDate\": \"{{ $('Credenciales y parametros (EDITAR AQUI)').item.json.expirationDate }}\",\n  \"singleUse\": {{ $('Credenciales y parametros (EDITAR AQUI)').item.json.singleUse }}\n}",
        "options": { "timeout": 30000 }
      },
      "id": "bnb-qr-0004",
      "name": "BNB - Generar QR (monto fijo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "r1", "name": "qrId", "value": "={{ $json.id }}", "type": "string" },
            { "id": "r2", "name": "qrBase64", "value": "={{ $json.qr }}", "type": "string" },
            { "id": "r3", "name": "dataUri", "value": "=data:image/png;base64,{{ $json.qr }}", "type": "string" },
            { "id": "r4", "name": "success", "value": "={{ $json.success }}", "type": "boolean" },
            { "id": "r5", "name": "message", "value": "={{ $json.message }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "bnb-extract-0005",
      "name": "Extraer QR",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "qrBase64",
        "binaryPropertyName": "qrImage",
        "options": {
          "fileName": "qr-bnb-festival-100bob.png",
          "mimeType": "image/png"
        }
      },
      "id": "bnb-tofile-0006",
      "name": "Base64 -> PNG descargable",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Disparar manualmente": {
      "main": [[{ "node": "Credenciales y parametros (EDITAR AQUI)", "type": "main", "index": 0 }]]
    },
    "Credenciales y parametros (EDITAR AQUI)": {
      "main": [[{ "node": "BNB - Auth Token", "type": "main", "index": 0 }]]
    },
    "BNB - Auth Token": {
      "main": [[{ "node": "BNB - Generar QR (monto fijo)", "type": "main", "index": 0 }]]
    },
    "BNB - Generar QR (monto fijo)": {
      "main": [[{ "node": "Extraer QR", "type": "main", "index": 0 }]]
    },
    "Extraer QR": {
      "main": [[{ "node": "Base64 -> PNG descargable", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "",
  "meta": { "templateCredsSetupCompleted": true },
  "tags": [{ "name": "festival-danzarte" }, { "name": "bnb" }, { "name": "prueba" }]
}
