docs/wf2_current.json
{"updatedAt":"2026-05-16T07:55:25.092Z","createdAt":"2026-05-16T04:02:49.729Z","id":"JFvN1ByShgodQqIO","name":"Festival Danzarte — Respuesta Admin (YCloud Inbound)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Sub-workflow trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[192,224],"id":"22f19b5c-ed11-41d4-b475-6a225352d933"},{"parameters":{"functionCode":"// Sub-workflow input: el body del webhook YCloud pasado as-is\nconst input = $input.first().json;\n// Puede venir wrapped en .body o directo\nconst body = input.body || input;\nconst inbound = body.whatsappInboundMessage || body;\nif (!inbound) return [{ json: { ignored: true, reason: 'no inbound' } }];\n\nlet payload = '';\nlet senderPhone = (inbound.from || '').toString().replace(/^\\+/, '');\n\nif (inbound.button && inbound.button.payload) {\n  payload = inbound.button.payload;\n} else if (inbound.interactive && (inbound.interactive.button_reply || inbound.interactive.buttonReply)) {\n  const br = inbound.interactive.button_reply || inbound.interactive.buttonReply;\n  payload = br.id || '';\n} else {\n  return [{ json: { ignored: true, reason: 'not button reply', type: inbound.type } }];\n}\n\nconst [accion, idPago] = (payload || '').split(':');\nif (!accion || !idPago) return [{ json: { ignored: true, reason: 'payload malformado', payload } }];\n\nreturn [{ json: { senderPhone, accion, idPago, payload } }];"},"name":"Parse button reply","type":"n8n-nodes-base.function","typeVersion":1,"position":[400,224],"id":"bc89bf1f-2be8-43bc-853f-fea84108404e"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.ignored === true}}","value2":true}]}},"name":"IF ignorar","type":"n8n-nodes-base.if","typeVersion":1,"position":[608,224],"id":"5f1c0151-e367-4b33-8945-2885c96feab9"},{"parameters":{"functionCode":"const admins = ('59175571497' || '').split(',').map(s => s.trim().replace(/^\\+/, '')).filter(Boolean);\nconst sender = ($items('Parse button reply')[0].json.senderPhone || '').replace(/^\\+/, '');\nconst autorizado = admins.includes(sender);\nreturn [{ json: { ...$items('Parse button reply')[0].json, autorizado } }];"},"name":"Valida admin autorizado","type":"n8n-nodes-base.function","typeVersion":1,"position":[848,320],"id":"fb0b70f2-f383-4d12-ae23-4892f7a66bb9"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.autorizado}}","value2":true}]}},"name":"IF autorizado","type":"n8n-nodes-base.if","typeVersion":1,"position":[1072,320],"id":"ab792e6e-bd12-4dca-9f2b-5c55cbb1ecfa"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.accion}}","value2":"confirmar"}]}},"name":"IF accion=confirmar","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,272],"id":"626a8819-33cc-4050-a22d-e6bfb756f67f"},{"parameters":{"method":"PATCH","url":"=https://supabase.imaginarte.cloud/rest/v1/pagos_2026?id_pago=eq.{{$json.idPago}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=__SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Authorization","value":"=Bearer __SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"estado","value":"verificado"},{"name":"verificado_en","value":"={{ $now.toISO() }}"},{"name":"verificado_por","value":"=WA:{{ $json.senderPhone }}"}]}},"name":"Supabase: marcar verificado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1504,192],"id":"ad83ce33-2e49-4652-b347-b8107a5bdf93"},{"parameters":{"method":"POST","url":"https://festivaldanzarte.com/api/recibo-generar.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Internal-Secret","value":"="}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"id_pago","value":"={{ $node[\"Parse button reply\"].json.idPago }}"}]}},"name":"Generar recibo PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1728,192],"id":"218e4e7c-2ea5-44a5-a2e3-7d46b874b6d7","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"=2a98d6fcfacb400f9dbe625b50d21fc8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"from","value":"+59162180085"},{"name":"to","value":"=+{{ $node[\"Parse button reply\"].json.senderPhone }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { body: \"✅ Pago \" + $node[\"Parse button reply\"].json.idPago + \" marcado como VERIFICADO. Recibo PDF generado.\" } }}"}]}},"name":"ACK al admin (confirmado)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1952,192],"id":"9e53d7e6-bdcf-4852-aaa4-9ecb84e82806"},{"parameters":{"method":"PATCH","url":"=https://supabase.imaginarte.cloud/rest/v1/pagos_2026?id_pago=eq.{{$json.idPago}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=__SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Authorization","value":"=Bearer __SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"estado","value":"rechazado"},{"name":"verificado_en","value":"={{ $now.toISO() }}"},{"name":"verificado_por","value":"=WA:{{ $json.senderPhone }}"}]}},"name":"Supabase: marcar rechazado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1504,368],"id":"e8b2f311-02c0-4a3b-903b-b05e70d10921"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"=2a98d6fcfacb400f9dbe625b50d21fc8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"from","value":"+59162180085"},{"name":"to","value":"=+{{ $node[\"Parse button reply\"].json.senderPhone }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { body: \"❌ Pago \" + $node[\"Parse button reply\"].json.idPago + \" marcado como RECHAZADO.\" } }}"}]}},"name":"ACK al admin (rechazado)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1728,368],"id":"a348caa6-e4bc-4d41-be03-5e3beb07a565"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"=2a98d6fcfacb400f9dbe625b50d21fc8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"from","value":"+59162180085"},{"name":"to","value":"=+{{ $node[\"Valida admin autorizado\"].json.senderPhone }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { body: \"⚠️ Tu número no está autorizado para verificar pagos. Contacta al administrador principal.\" } }}"}]}},"name":"Reject unauthorized","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1280,464],"id":"5da1ee32-70b0-4b95-b409-e795ec541ea4"},{"parameters":{"assignments":{"assignments":[{"id":"ok","name":"ok","value":true,"type":"boolean"}]},"options":{}},"name":"Respuesta sub-workflow","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,272],"id":"e1019ddf-45a8-4cdd-81af-943690a49295"}],"connections":{"Sub-workflow trigger":{"main":[[{"node":"Parse button reply","type":"main","index":0}]]},"Parse button reply":{"main":[[{"node":"IF ignorar","type":"main","index":0}]]},"IF ignorar":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}],[{"node":"Valida admin autorizado","type":"main","index":0}]]},"Valida admin autorizado":{"main":[[{"node":"IF autorizado","type":"main","index":0}]]},"IF autorizado":{"main":[[{"node":"IF accion=confirmar","type":"main","index":0}],[{"node":"Reject unauthorized","type":"main","index":0}]]},"IF accion=confirmar":{"main":[[{"node":"Supabase: marcar verificado","type":"main","index":0}],[{"node":"Supabase: marcar rechazado","type":"main","index":0}]]},"Supabase: marcar verificado":{"main":[[{"node":"Generar recibo PDF","type":"main","index":0}]]},"Generar recibo PDF":{"main":[[{"node":"ACK al admin (confirmado)","type":"main","index":0}]]},"ACK al admin (confirmado)":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}]]},"Supabase: marcar rechazado":{"main":[[{"node":"ACK al admin (rechazado)","type":"main","index":0}]]},"ACK al admin (rechazado)":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}]]},"Reject unauthorized":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Sub-workflow trigger":[{"json":{"headers":{"host":"danzarte-n8n.rgxmhp.easypanel.host","user-agent":"Go-http-client/2.0","content-length":"685","accept-encoding":"gzip","baggage":"Eagleeye-Pappname=1fof0zltrv1@d3b96e44a5c9fa6,Eagleeye-Prpc=","content-type":"application/json","traceparent":"00-64d6f61a1d801d75adde5ca218effed0-994802fdbecbc909-00","x-forwarded-for":"47.236.160.49","x-forwarded-host":"danzarte-n8n.rgxmhp.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e00c29061fec","x-real-ip":"47.236.160.49","x-webhook-endpoint-id":"69fd62d19ba94c2ba917051d","ycloud-signature":"t=1778912669,s=4afa5417749126e9e8b172b060d2f9f4ddf5f157c91944598034c6a1184ce54d"},"params":{},"query":{},"body":{"id":"evt_6a080d9dfa09150f3a3a6ef7","type":"whatsapp.inbound_message.received","apiVersion":"v2","createTime":"2026-05-16T06:24:29.232Z","whatsappInboundMessage":{"id":"6a080d9da872871443afe721","wamid":"wamid.HBgLNTkxNzU1NzE0OTcVAgASGBYzRUIwNzBFQzgyRDIwNDA4NTMxN0MxAA==","wabaId":"1272488931312822","from":"+59175571497","fromUserId":"BO.4374096416238791","customerProfile":{"name":"Shera"},"to":"+59162180085","sendTime":"2026-05-16T06:24:28.000Z","type":"interactive","interactive":{"type":"button_reply","button_reply":{"id":"confirmar:5f474012ce6ea36e","title":"✅ Confirmar"}},"context":{"from":"59162180085","id":"wamid.HBgLNTkxNzU1NzE0OTcVAgARGBJFMTg3QzM5NkE0RkU1NEE4MDEA"}}},"webhookUrl":"https://danzarte-n8n.rgxmhp.easypanel.host/webhook/bandeja-inbox-ycloud","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"51508f92-3e53-4c00-81f2-1436fee20488","activeVersionId":"51508f92-3e53-4c00-81f2-1436fee20488","versionCounter":36,"triggerCount":0,"shared":[{"updatedAt":"2026-05-16T04:02:49.730Z","createdAt":"2026-05-16T04:02:49.730Z","role":"workflow:owner","workflowId":"JFvN1ByShgodQqIO","projectId":"nysJjTqYfkEuThaU","project":{"updatedAt":"2025-10-22T20:26:00.194Z","createdAt":"2025-10-22T20:24:10.509Z","id":"nysJjTqYfkEuThaU","name":"YACU SERRANO <danzartebolivia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fadfd53d-d0b3-4a20-8aa6-8eb62f1c6bee"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-16T07:55:25.093Z","createdAt":"2026-05-16T07:55:25.093Z","versionId":"51508f92-3e53-4c00-81f2-1436fee20488","workflowId":"JFvN1ByShgodQqIO","nodes":[{"parameters":{},"name":"Sub-workflow trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[192,224],"id":"22f19b5c-ed11-41d4-b475-6a225352d933"},{"parameters":{"functionCode":"// Sub-workflow input: el body del webhook YCloud pasado as-is\nconst input = $input.first().json;\n// Puede venir wrapped en .body o directo\nconst body = input.body || input;\nconst inbound = body.whatsappInboundMessage || body;\nif (!inbound) return [{ json: { ignored: true, reason: 'no inbound' } }];\n\nlet payload = '';\nlet senderPhone = (inbound.from || '').toString().replace(/^\\+/, '');\n\nif (inbound.button && inbound.button.payload) {\n  payload = inbound.button.payload;\n} else if (inbound.interactive && (inbound.interactive.button_reply || inbound.interactive.buttonReply)) {\n  const br = inbound.interactive.button_reply || inbound.interactive.buttonReply;\n  payload = br.id || '';\n} else {\n  return [{ json: { ignored: true, reason: 'not button reply', type: inbound.type } }];\n}\n\nconst [accion, idPago] = (payload || '').split(':');\nif (!accion || !idPago) return [{ json: { ignored: true, reason: 'payload malformado', payload } }];\n\nreturn [{ json: { senderPhone, accion, idPago, payload } }];"},"name":"Parse button reply","type":"n8n-nodes-base.function","typeVersion":1,"position":[400,224],"id":"bc89bf1f-2be8-43bc-853f-fea84108404e"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.ignored === true}}","value2":true}]}},"name":"IF ignorar","type":"n8n-nodes-base.if","typeVersion":1,"position":[608,224],"id":"5f1c0151-e367-4b33-8945-2885c96feab9"},{"parameters":{"functionCode":"const admins = ('59175571497' || '').split(',').map(s => s.trim().replace(/^\\+/, '')).filter(Boolean);\nconst sender = ($items('Parse button reply')[0].json.senderPhone || '').replace(/^\\+/, '');\nconst autorizado = admins.includes(sender);\nreturn [{ json: { ...$items('Parse button reply')[0].json, autorizado } }];"},"name":"Valida admin autorizado","type":"n8n-nodes-base.function","typeVersion":1,"position":[848,320],"id":"fb0b70f2-f383-4d12-ae23-4892f7a66bb9"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.autorizado}}","value2":true}]}},"name":"IF autorizado","type":"n8n-nodes-base.if","typeVersion":1,"position":[1072,320],"id":"ab792e6e-bd12-4dca-9f2b-5c55cbb1ecfa"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.accion}}","value2":"confirmar"}]}},"name":"IF accion=confirmar","type":"n8n-nodes-base.if","typeVersion":1,"position":[1280,272],"id":"626a8819-33cc-4050-a22d-e6bfb756f67f"},{"parameters":{"method":"PATCH","url":"=https://supabase.imaginarte.cloud/rest/v1/pagos_2026?id_pago=eq.{{$json.idPago}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=__SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Authorization","value":"=Bearer __SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"estado","value":"verificado"},{"name":"verificado_en","value":"={{ $now.toISO() }}"},{"name":"verificado_por","value":"=WA:{{ $json.senderPhone }}"}]}},"name":"Supabase: marcar verificado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1504,192],"id":"ad83ce33-2e49-4652-b347-b8107a5bdf93"},{"parameters":{"method":"POST","url":"https://festivaldanzarte.com/api/recibo-generar.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Internal-Secret","value":"="}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"id_pago","value":"={{ $node[\"Parse button reply\"].json.idPago }}"}]}},"name":"Generar recibo PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1728,192],"id":"218e4e7c-2ea5-44a5-a2e3-7d46b874b6d7","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"=2a98d6fcfacb400f9dbe625b50d21fc8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"from","value":"+59162180085"},{"name":"to","value":"=+{{ $node[\"Parse button reply\"].json.senderPhone }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { body: \"✅ Pago \" + $node[\"Parse button reply\"].json.idPago + \" marcado como VERIFICADO. Recibo PDF generado.\" } }}"}]}},"name":"ACK al admin (confirmado)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1952,192],"id":"9e53d7e6-bdcf-4852-aaa4-9ecb84e82806"},{"parameters":{"method":"PATCH","url":"=https://supabase.imaginarte.cloud/rest/v1/pagos_2026?id_pago=eq.{{$json.idPago}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=__SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Authorization","value":"=Bearer __SUPABASE_SERVICE_ROLE_KEY__"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"estado","value":"rechazado"},{"name":"verificado_en","value":"={{ $now.toISO() }}"},{"name":"verificado_por","value":"=WA:{{ $json.senderPhone }}"}]}},"name":"Supabase: marcar rechazado","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1504,368],"id":"e8b2f311-02c0-4a3b-903b-b05e70d10921"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"=2a98d6fcfacb400f9dbe625b50d21fc8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"from","value":"+59162180085"},{"name":"to","value":"=+{{ $node[\"Parse button reply\"].json.senderPhone }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { body: \"❌ Pago \" + $node[\"Parse button reply\"].json.idPago + \" marcado como RECHAZADO.\" } }}"}]}},"name":"ACK al admin (rechazado)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1728,368],"id":"a348caa6-e4bc-4d41-be03-5e3beb07a565"},{"parameters":{"method":"POST","url":"https://api.ycloud.com/v2/whatsapp/messages/sendDirectly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"=2a98d6fcfacb400f9dbe625b50d21fc8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"keypair","options":{},"bodyParameters":{"parameters":[{"name":"from","value":"+59162180085"},{"name":"to","value":"=+{{ $node[\"Valida admin autorizado\"].json.senderPhone }}"},{"name":"type","value":"text"},{"name":"text","value":"={{ { body: \"⚠️ Tu número no está autorizado para verificar pagos. Contacta al administrador principal.\" } }}"}]}},"name":"Reject unauthorized","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1280,464],"id":"5da1ee32-70b0-4b95-b409-e795ec541ea4"},{"parameters":{"assignments":{"assignments":[{"id":"ok","name":"ok","value":true,"type":"boolean"}]},"options":{}},"name":"Respuesta sub-workflow","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,272],"id":"e1019ddf-45a8-4cdd-81af-943690a49295"}],"connections":{"Sub-workflow trigger":{"main":[[{"node":"Parse button reply","type":"main","index":0}]]},"Parse button reply":{"main":[[{"node":"IF ignorar","type":"main","index":0}]]},"IF ignorar":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}],[{"node":"Valida admin autorizado","type":"main","index":0}]]},"Valida admin autorizado":{"main":[[{"node":"IF autorizado","type":"main","index":0}]]},"IF autorizado":{"main":[[{"node":"IF accion=confirmar","type":"main","index":0}],[{"node":"Reject unauthorized","type":"main","index":0}]]},"IF accion=confirmar":{"main":[[{"node":"Supabase: marcar verificado","type":"main","index":0}],[{"node":"Supabase: marcar rechazado","type":"main","index":0}]]},"Supabase: marcar verificado":{"main":[[{"node":"Generar recibo PDF","type":"main","index":0}]]},"Generar recibo PDF":{"main":[[{"node":"ACK al admin (confirmado)","type":"main","index":0}]]},"ACK al admin (confirmado)":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}]]},"Supabase: marcar rechazado":{"main":[[{"node":"ACK al admin (rechazado)","type":"main","index":0}]]},"ACK al admin (rechazado)":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}]]},"Reject unauthorized":{"main":[[{"node":"Respuesta sub-workflow","type":"main","index":0}]]}},"authors":"YACU SERRANO","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-16T07:55:25.476Z","id":742,"workflowId":"JFvN1ByShgodQqIO","versionId":"51508f92-3e53-4c00-81f2-1436fee20488","event":"activated","userId":"fadfd53d-d0b3-4a20-8aa6-8eb62f1c6bee"}]}}